Repository DS-13-Dev-Team/DS13-1.0, pull requests merged in 2021-01, with the labels that each got.

#1058 EarthGov Framework
  DS13.dme
  baystation12.dme
  code/__defines/gamemode.dm
  code/game/gamemodes/marker/earthgov_agent.dm
  code/game/gamemodes/marker/gamemodes.dm
  code/game/gamemodes/objective.dm
  code/game/objects/random/paper.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper_misc.dm
  code/modules/paperwork/photography.dm
  icons/mob/hud.dmi
  maps/DeadSpace/ishimura.dm
Labels: EXPERIMENTAL, Work in Progress

#1072 TGS Server support.
  TGS3.json
  baystation12.dme
  code/__defines/_protect.dm
  code/__defines/mode.dm
  code/__defines/rust_g.dm
  code/__defines/tgs.config.dm
  code/__defines/tgs.dm
  code/_global_vars/misc.dm
  code/_helpers/chat.dm
  code/_helpers/time.dm
  code/controllers/master.dm
  code/controllers/voting.dm
  code/datums/datum.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gameticker.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/verbs/chat_commands.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/server_verbs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/README.md
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/README.md
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/undefs.dm
Labels: Testing Needed

#1182 Resolves some re-occuring runtimes
  code/datums/outfits/outfit.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/observer/freelook/marker/signal_abilities/signal_ability.dm
Labels: Do not merge
